images/
*.png
**/*.bin
**/*.csv
images/
*.png
**/*.bin
**/*.csv
**/__pycache__/
**/*.pdf
**/*.npz
**/*.pkl
data.json
**/*.h5
imuerror.json
gt_speed.json
imuestimate.json
estimated_speed_mmPhase.json
estimated_speed_doppler.json
**/*.keras
data_collect_mmwave_only
.ipynb_checkpoints/
imu_data/
depth_data/
lidar_data/
telemetry_data/
animations/
*.gif
*.bin
*.csv
*.dat
*.pkl
*.npy
fig/
dataX4/
datasets copy/
dataRadar/
datasets/
HectorSlamX4/
checkpoints
*.pth
helperDup.py
tempCodeRunnerFile.py
.vscode
processedData/
runs/
old res/
visualization/
datasetsFull/